{% extends "ZacaciaBundle::layout.html.twig" %}

{% block title %}ZacaciaBundle:Server:edit{% endblock %}

{% block navmenu %}
<li><a href="{{ path('_dashboard') }}">Dashboard</a></li>
<li><a href="{{ path('_platform') }}">Platform : {{ platform.cn }}</a></li>
<li class="active"><a href="#">Server : Edit</a></li>
{% endblock %}

{% block whereiam %}
<ul class="list-inline">
    <li><h3 class="warning">{{ platform.cn }}</a></h3><small>Platform</small></li>
    <li><h3 class="warning">{{ server.cn }}</a></h3><small>Server:Edit</small></li>
</ul>
{% endblock %}

{% block content %}

{{ form_start(form) }}
{{ form_errors(form) }}

<div class="row">
    <div class="col-md-6">
	    <fieldset class="form-group">
	    	{{  form_label(form.cn) }}
	    	{{ form_errors(form.cn) }}
	    	{{ form_widget(form.cn, {'attr': {'class': 'form-control', 'readonly': 'readonly'}}) }}
	    </fieldset>
    </div>

    <div class="col-md-6">
	    <fieldset class="form-group">
	    	{{  form_label(form.iphostnumber) }}
	    	{{ form_errors(form.iphostnumber) }}
	    	{{ form_widget(form.iphostnumber, {'attr': {'class': 'form-control', 'readonly': 'readonly'}}) }}
	    </fieldset>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
	    <fieldset class="form-group">
	    	{{  form_label(form.zarafaaccount) }}
	    	{{ form_errors(form.zarafaaccount) }}
	    	{{ form_widget(form.zarafaaccount, {'attr': {'class': 'form-control'}}) }}
	    </fieldset>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
	    <fieldset class="form-group">
	    	{{  form_label(form.zarafafilepath) }}
	    	{{ form_errors(form.zarafafilepath) }}
	    	{{ form_widget(form.zarafafilepath, {'attr': {'class': 'form-control'}}) }}
	    </fieldset>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
	    <fieldset class="form-group">
	    	{{  form_label(form.zarafahttpport) }}
	    	{{ form_errors(form.zarafahttpport) }}
	    	{{ form_widget(form.zarafahttpport, {'attr': {'class': 'form-control'}}) }}
	    </fieldset>
    </div>

    <div class="col-md-6">
	    <fieldset class="form-group">
	    	{{  form_label(form.zarafasslport) }}
	    	{{ form_errors(form.zarafasslport) }}
	    	{{ form_widget(form.zarafasslport, {'attr': {'class': 'form-control'}}) }}
	    </fieldset>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
	    <fieldset class="form-group">
	    	{{  form_label(form.zacaciastatus) }}
	    	{{ form_errors(form.zacaciastatus) }}
	    	{{ form_widget(form.zacaciastatus, {'attr': {'class': 'form-control'}}) }}
	    </fieldset>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
	    <fieldset class="form-group">
            <button type="button" id="form_cancel" class="btn btn-primary">{% trans %}Cancel{% endtrans %}</button>
            <button type="submit" id="form_save" class="btn btn-primary">{% trans %}Save Server{% endtrans %}</button>
	    </fieldset>
    </div>
</div>


{{ form_end(form) }}

</div>
{% endblock %}

{% block zavascripts %}
<script src= "{{ asset('js/server/edit.js') }}"></script>
<script>
var cancel_redirect = "{{ path('_server', { 
    'platformid': platform.entryUUID,
  }) }}"
</script>
{% endblock %}
