{% extends "ZacaciaBundle::layout.html.twig" %}

{% block title %}ZacaciaBundle:Server:index{% endblock %}

{% block navmenu %}
<li><a href="{{ path('_dashboard') }}">Dashboard</a></li>
<li><a href="{{ path('_platform') }}">Platform : {{ platform.cn }}</a></li>
<li class="active"><a href="#">Servers</a></li>
{% endblock %}

{% block whereiam %}
<ul class="list-inline">
  <li><h3 class="warning">{{ platform.cn }}</a></h3><small>Platform</small></li>
  <li><h3>Servers</h3><small>List</small></li>
</ul>
{% endblock %}

{% block content %}
<div class="table-responsive">

    <a href="{{ path('_server_new', {'platformid' : platform.entryUUID} ) }}">New</a>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th>Created</th>
      <th>Modified</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
{% for server in servers %}
    <tr>
      <td>{{ server.cn }}</td>
      <td class="{{ server.zacaciaStatus | lower}}">{{ server.zacaciaStatus }}</td>
      <td>{{ server.createTimestamp }}</td>
      <td>{{ server.modifyTimestamp }}</td>
      <td>
        <a href="{{ path('_server_edit', {
          'platformid' : platform.entryUUID, 'serverid' : server.entryUUID} ) }}">Edit</a> | 
        <a id="delete_server" href="{{ path('_server_delete', {
          'platformid' : platform.entryUUID, 'serverid' : server.entryUUID} ) }}">Delete</a>
      </td>
    </tr>
{% endfor %}
  </tbody>
</table>
</div>
{% endblock %}
