{% extends "ZacaciaBundle::layout.html.twig" %}

{% block title %}Zacacia:Domain:edit{% endblock %}

{% block navmenu %}
<li><a href="{{ path('_dashboard') }}">Dashboard</a></li>
<li><a href="{{ path('_platform') }}">Platform</a></li>
<li><a href="{{ path('_organization', { 'platformid' : platform.entryUUID} ) }}">Customers</a></li>
<li class="active"><a href="#">Domain : edit</a></li>
{% endblock %}

{% block whereiam %}
<ul class="list-inline">
    <li><h3>{{ platform.cn }}</a></h3><small>Platform</small></li>
    <li><h3>{{ organization.cn }}</a></h3><small>Customer</small></li>
    <li><h3>{{ domain.cn }}</a></h3><small>Edit</small></li>
</ul>
{% endblock %}

{% block content %}

{{ form_start(form) }}
{{ form_errors(form) }}

<div class="row">
    <div class="col-md-12">
	    <fieldset class="form-group has-feedback">
		    {{  form_label(form.cn) }}
		    {{ form_errors(form.cn) }}
	    	{{ form_widget(form.cn, {'attr': {'class': 'form-control', 'readonly': 'readonly'}}) }}
	    </fieldset>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
	    <fieldset class="form-group">
	    	{{  form_label(form.zacaciastatus) }}
	    	{{ form_errors(form.zacaciastatus) }}
	    	{{ form_widget(form.zacaciastatus, {'attr': {'class': 'form-control'}}) }}
	    </fieldset>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
	    <fieldset class="form-group">
            <button type="button" id="form_cancel" class="btn btn-primary">{% trans %}Cancel{% endtrans %}</button>
            <button type="submit" id="form_save" class="btn btn-primary">{% trans %}Save Domain{% endtrans %}</button>
	    </fieldset>
    </div>
</div>

{{ form_end(form) }}

{% endblock %}

{% block zavascripts %}
<script src= "{{ asset('js/server/edit.js') }}"></script>
<script>
var cancel_redirect = "{{ path('_domain', { 
    'platformid': platform.entryUUID,
    'organizationid': organization.entryUUID,
  }) }}"
</script>
{% endblock %}
