{% extends "ZacaciaBundle::layout.html.twig" %}

{% block title %}ZacaciaBundle:Server:index{% endblock %}

{% block navmenu %}
<li><a href="{{ path('_dashboard') }}">Dashboard</a></li>
<li><a href="{{ path('_platform') }}">Platform</a></li>
<li><a href="{{ path('_organization', { 'platformid' : platform.entryUUID} ) }}">Customer</a></li> 
<li class="active"><a href="#">Groups</a></li>
{% endblock %}

{% block whereiam %}
<ul class="list-inline">
    <li><h3 class="warning">{{ platform.cn }}</a></h3><small>Platform</small></li>
    <li><h3 class="warning">{{ organization.cn }}</a></h3><small>Customer</small></li>
    <li><h3 class="warning">Groups</a></h3><small>List</small></li>
</ul>
{% endblock %}

{% block content %}
<div class="table-responsive">

<a href="{{ path('_user_new', { 'platformid' : platform.entryUUID, 'organizationid' : organization.entryUUID} ) }}">New</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Status</th>
            <th>Created</th>
            <th>Modified</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
{% for group in groups %}
        <tr class="{% if group.zacaciaStatus == 'disable' %}danger{% endif %}">
            <td>{{ group.cn }}</td>
            <td class="{{ group.zacaciaStatus | lower}}">{{ group.zacaciaStatus }}</td>
            <td>{{ group.createTimestamp }}</td>
            <td>{{ group.modifyTimestamp }}</td>
            <td>
                <a href="{{ path('_group_edit', { 'platformid' : platform.entryUUID, 'organizationid' : organization.entryUUID, 'groupid' : group.entryUUID} ) }}">Edit</a> 
                |<a id="delete_user" href="{{ path('_group_delete', { 'platformid' : platform.entryUUID, 'organizationid' : organization.entryUUID, 'groupid' : group.entryUUID} ) }}">Delete</a>
            </td>
        </tr>
{% endfor %}
    </tbody>
</table>
</div>
{% endblock %}

{% block zavascripts %}
<script src= "{{ asset('js/user/index.js') }}"></script>
{% endblock %}
