<!DOCTYPE html>
<html lang="fr" ng-app="zacaciaApp">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="{{ asset('bundles/zacacia/vendor/bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/zacacia/css/zacacia.css') }}" />
        <script src="{{ asset('bundles/zacacia/vendor/angular/angular.min.js') }}"></script>
        <script src="{{ asset('bundles/zacacia/js/zacacia.js') }}"></script>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>

        <div class="container">
        
            <!-- BEGIN Header -->
            <header class="row">
                <div class="col-xs-12">
                    <a class="navbar-brand" rel="home" href="{{ path('zacacia_homepage') }}" title="homepage">
                        <object class="img-responsive" id="front-page-logo" type="image/png" data="{{ asset('bundles/zacacia/images/zacacia_w.png') }}">Your browser does not support PNG</object>
                    </a>
                </div>
            </header>
            <!-- END Header -->
        
            <!-- BEGIN Main column -->
            <div id="main-column">
                <div class="row">
        
                    <!-- BEGIN Aside -->
                    <!-- aside class="col-xs-12 col-sm-4 col-sm-pull-8 col-md-3 col-md-pull-9" -->
                    <div id="zacacia-menu" class="col-xs-3">
                        <ul>
                            {%block nav_menu %}{% endblock %}
                            <li class="bold"><a href="/logout" class="waves-effect waves-teal">Logout</a></li>
                        </ul>
                    </div>
                    <!-- END Aside -->
        
                    <!-- BEGIN Main -->
                    <!-- main class="col-xs-12 col-sm-8 col-sm-push-4 col-md-9 col-md-push-3" -->
                    <div id="zacacia-content"  class="col-xs-8">
                        {% block main %}{% endblock %}
                    </div>
                    <!-- END Main -->
        
                </div>
            </div>
            <!-- END Main column -->
        
            <!-- BEGIN Footer -->
            <footer class="row">
                <div class="col-xs-12">
                {% block footer %}{% endblock %}
                </div>
            </footer>
            <!-- END Footer -->
        
        </div>        
    
        <!-- Compiled and minified JavaScript -->
        <script src="{{ asset('bundles/zacacia/vendor/jquery/jquery.min.js') }}"></script>
        <script src="{{ asset('bundles/zacacia/vendor/materialize/js/materialize.min.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
