{% extends "ZacaciaBundle::layout.html.twig" %}

{% block title %}ZacaciaBundle:Organization:new{% endblock %}

{% block navmenu %}
<li><a href="{{ path('_dashboard') }}">Dashboard</a></li>
<li><a href="{{ path('_platform') }}">Platform : {{ platform.cn }}</a></li>
<li class="active"><a href="#">Customer : new</a></li>
{% endblock %}

{% block whereiam %}
<ul class="list-inline">
  <li><h3 class="warning">{{ platform.cn }}</a></h3><small>Platform</small></li>
  <li><h3>Customers</h3><small>New</small></li>
</ul>
{% endblock %}

{% block content %}
<div class="table-responsive">

{{ form_start(form) }}
	 {{ form_errors(form) }}

	<fieldset class="form-group">
		{{  form_label(form.cn) }}
		{{ form_errors(form.cn) }}
		{{ form_widget(form.cn, {'attr': {'class': 'form-control'}}) }}
	</fieldset>

	<fieldset class="form-group">
		{{  form_label(form.zacaciastatus) }}
		{{ form_errors(form.zacaciastatus) }}
		{{ form_widget(form.zacaciastatus, {'attr': {'class': 'form-control'}}) }}
	</fieldset>

	<fieldset class="form-group">
		{{  form_label(form.zarafaaccount) }}
		{{ form_errors(form.zarafaaccount) }}
		{{ form_widget(form.zarafaaccount, {'attr': {'class': 'form-control'}}) }}
	</fieldset>

	<fieldset class="form-group">
		{{  form_label(form.zarafahidden) }}
		{{ form_errors(form.zarafahidden) }}
		{{ form_widget(form.zarafahidden, {'attr': {'class': 'form-control'}}) }}
	</fieldset>

	<fieldset class="form-group">
    {{ form_widget(form.cancel, {'attr': {'class':  'btn btn-primary' }}) }}
		{{ form_widget(form.save, {'attr': {'class':  'btn btn-primary'}}) }}
	</fieldset>

{{ form_end(form) }}

</div>
{% endblock %}

{% block zavascripts %}
<script src= "{{ asset('js/organization/new.js') }}"></script>
<script>
var cancel_redirect = "{{ path('_organization', { 'platformid': platform.entryUUID }) }}"
</script>
{% endblock %}
