{% extends "ZacaciaBundle::layout.html.twig" %}

{% block title %}ZacaciaBundle:Server:index{% endblock %}

{% block navmenu %}
<li><a href="{{ path('_dashboard') }}">Dashboard</a></li>
<li><a href="{{ path('_platform') }}">Platform</a></li>
<li><a href="{{ path('_organization', { 'platformid' : platform.entryUUID} ) }}">Customer</a></li> 
<li class="active"><a href="#">Users</a></li>
{% endblock %}

{% block whereiam %}
<ul class="list-inline">
    <li><h3 class="warning">{{ platform.cn }}</a></h3><small>Platform</small></li>
    <li><h3 class="warning">{{ organization.cn }}</a></h3><small>Customer</small></li>
    <li><h3 class="warning">User</a></h3><small>List</small></li>
</ul>
{% endblock %}

{% block content %}
<div class="table-responsive">

<a href="{{ path('_user_new', { 'platformid' : platform.entryUUID, 'organizationid' : organization.entryUUID} ) }}">New</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Status</th>
            <th>Created</th>
            <th>Modified</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
{% for user in users %}
        <tr class="{% if user.zacaciaStatus == 'disable' %}danger{% endif %}">
            <td>{{ user.sn }} {{ user.givenName }}</td>
            <td class="{{ user.zacaciaStatus | lower}}">{{ user.zacaciaStatus }}</td>
            <td>{{ user.createTimestamp }}</td>
            <td>{{ user.modifyTimestamp }}</td>
            <td>
                <a href="{{ path('_user_edit', { 'platformid' : platform.entryUUID, 'organizationid' : organization.entryUUID, 'userid' : user.entryUUID} ) }}">Edit</a> 
                | <a href="{{ path('_user_password', { 'platformid' : platform.entryUUID, 'organizationid' : organization.entryUUID, 'userid' : user.entryUUID} ) }}">Password</a> 
                | <a href="{{ path('_user_alias', { 'platformid' : platform.entryUUID, 'organizationid' : organization.entryUUID, 'userid' : user.entryUUID} ) }}">Aliases</a> 
                | <a id="delete_user" href="{{ path('_user_delete', { 'platformid' : platform.entryUUID, 'organizationid' : organization.entryUUID, 'userid' : user.entryUUID} ) }}">Delete</a>
            </td>
        </tr>
{% endfor %}
    </tbody>
</table>
</div>
{% endblock %}

{% block zavascripts %}
<script src= "{{ asset('js/domain/index.js') }}"></script>
{% endblock %}
