{% extends "ZacaciaBundle::layout.html.twig" %}

{% block title %}ZacaciaBundle:User:new{% endblock %}

{% block navmenu %}
<li><a href="{{ path('_dashboard') }}">Dashboard</a></li>
<li><a href="{{ path('_platform') }}">Platform</a></li>
<li><a href="{{ path('_organization', {'platformid' : platform.entryUUID} ) }}">Customer</a></li>
<li class="active"><a href="#">User : new</a></li>
{% endblock %}

{% block whereiam %}
<ul class="list-inline">
  <li><h3 class="warning">{{ platform.cn }}</a></h3><small>Platform</small></li>
  <li><h3 class="warning">{{ organization.cn }}</a></h3><small>Customer</small></li>
  <li><h3 class="warning">User</a></h3><small>New</small></li>
</ul>
{% endblock %}

{% block content %}

{{ form_start(form) }}
{{ form_errors(form) }}

<div class="row">
    <div class="col-md-6">
        <fieldset class="form-group">
            {{  form_label(form.sn, '', {'label_attr': {'class': 'control-label', 'for': form.sn.vars.id} } ) }}
        	{{ form_errors(form.sn) }}
        	{{ form_widget(form.sn, {'attr': {'class': 'form-control'}}) }}
        </fieldset>
    </div>
    
    <div class="col-md-6">
        <fieldset class="form-group">
        	{{  form_label(form.givenname, '', {'label_attr': {'class': 'control-label', 'for': form.givenname.vars.id}}) }}
        	{{ form_errors(form.givenname) }}
        	{{ form_widget(form.givenname, {'attr': {'class': 'form-control'}}) }}
        </fieldset>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
	    <fieldset class="form-group">
	    	{{  form_label(form.displayname, '', {'label_attr': {'class': 'control-label', 'for': form.displayname.vars.id}}) }}
	    	{{ form_errors(form.displayname) }}
	    	{{ form_widget(form.displayname, {'attr': {'class': 'form-control'}}) }}
	    </fieldset>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
	    <fieldset class="form-group">
            {{  form_label(form.uid, '', {'label_attr': {'class': 'control-label', 'for': form.uid.vars.id}}) }}
	    	{{ form_errors(form.uid) }}
	    	{{ form_widget(form.uid, {'attr': {'class': 'form-control'}}) }}
	    </fieldset>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
	    <fieldset class="form-group">
	    	{{  form_label(form.userpassword, '', {'label_attr': {'class': 'control-label', 'for': form.userpassword.vars.id}}) }}
	    	{{ form_errors(form.userpassword) }}
	    	{{ form_widget(form.userpassword, {'attr': {'class': 'form-control'}}) }}
	    </fieldset>
    </div>

    <div class="col-md-6">
	    <fieldset class="form-group">
	    	{{  form_label(form.confpass, '', {'label_attr': {'class': 'control-label', 'for': form.confpass.vars.id}}) }}
	    	{{ form_errors(form.confpass) }}
	    	{{ form_widget(form.confpass, {'attr': {'class': 'form-control'}}) }}
	    </fieldset>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <fieldset class="form-group">
            {{  form_label(form.email, '', {'label_attr': {'class': 'control-label', 'for': form.email.vars.id}}) }}
        	{{ form_errors(form.email) }}
        	{{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
        </fieldset>
    </div>

    <div class="col-md-6">
        <fieldset class="form-group">
        	{{  form_label(form.domain, '', {'label_attr': {'class': 'control-label', 'for': form.domain.vars.id}}) }}
        	{{ form_errors(form.domain) }}
        	{{ form_widget(form.domain, {'attr': {'class': 'form-control'}}) }}
        </fieldset>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <fieldset class="form-group">
        	{{  form_label(form.zacaciastatus, '', {'label_attr': {'class': 'control-label', 'for': form.zacaciastatus.vars.id}}) }}
        	{{ form_errors(form.zacaciastatus) }}
        	{{ form_widget(form.zacaciastatus, {'attr': {'class': 'form-control'}}) }}
        </fieldset>
    </div>
    
    <div class="col-md-4">
        <fieldset class="form-group">
        	{{  form_label(form.zarafaaccount, '', {'label_attr': {'class': 'control-label', 'for': form.zarafaaccount.vars.id}}) }}
        	{{ form_errors(form.zarafaaccount) }}
        	{{ form_widget(form.zarafaaccount, {'attr': {'class': 'form-control'}}) }}
        </fieldset>
    </div>
    
    <div class="col-md-4">
        <fieldset class="form-group">
        	{{  form_label(form.zarafahidden, '', {'label_attr': {'class': 'control-label', 'for': form.zarafahidden.vars.id}}) }}
        	{{ form_errors(form.zarafahidden) }}
        	{{ form_widget(form.zarafahidden, {'attr': {'class': 'form-control'}}) }}
        </fieldset>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <fieldset class="form-group">
    	    {{  form_label(form.zarafaquotaoverride, '', {'label_attr': {'class': 'control-label', 'for': form.zarafaquotaoverride.vars.id}}) }}
    	    {{ form_errors(form.zarafaquotaoverride) }}
    	    {{ form_widget(form.zarafaquotaoverride, {'attr': {'class': 'form-control'}}) }}
        </fieldset>
    </div>
</div>

<div class="row" id="zarafa_quota_options">
    <div class="col-md-4">
        <fieldset class="form-group">
    	    {{  form_label(form.zarafaquotasoft, '', {'label_attr': {'class': 'control-label', 'for': form.zarafaquotasoft.vars.id}}) }}
    	    {{ form_errors(form.zarafaquotasoft) }}
            <div class="input-group">
    	        {{ form_widget(form.zarafaquotasoft, {'attr': {'class': 'form-control'}}) }}
                <div class="input-group-addon">Mb</div>
            </div>
        </fieldset>
    </div>
    <div class="col-md-4">
        <fieldset class="form-group">
    	    {{  form_label(form.zarafaquotawarn, '', {'label_attr': {'class': 'control-label', 'for': form.zarafaquotawarn.vars.id}}) }}
    	    {{ form_errors(form.zarafaquotawarn) }}
            <div class="input-group">
    	        {{ form_widget(form.zarafaquotawarn, {'attr': {'class': 'form-control'}}) }}
                <div class="input-group-addon">Mb</div>
            </div>
        </fieldset>
    </div>
    <div class="col-md-4">
        <fieldset class="form-group">
    	    {{  form_label(form.zarafaquotahard, '', {'label_attr': {'class': 'control-label', 'for': form.zarafaquotahard.vars.id}}) }}
    	    {{ form_errors(form.zarafaquotahard) }}
            <div class="input-group">
    	        {{ form_widget(form.zarafaquotahard, {'attr': {'class': 'form-control'}}) }}
                <div class="input-group-addon">Mb</div>
            </div>
        </fieldset>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
	    <fieldset class="form-group">
            <button type="button" id="form_cancel" class="btn btn-primary">{% trans %}Cancel{% endtrans %}</button>
            <button type="submit" id="form_save" class="btn btn-primary hidden">{% trans %}Create User{% endtrans %}</button>
	    </fieldset>
    </div>
</div>


{{ form_end(form) }}
{% endblock %}

{% block zavascripts %}
<script src= "{{ asset('js/user/new.js') }}"></script>
<script>
var cancel_redirect = "{{ path('_user', { 
    'platformid': platform.entryUUID,
    'organizationid': organization.entryUUID,
}) }}"
</script>
{% endblock %}
