{% extends 'ZacaciaBundle::zacacia.html.twig' %}

{% block javascripts %}
<script src="{{ asset('bundles/zacacia/js/platform.js') }}"></script>
{% endblock %}

{%block nav_menu %}
<button type="button" class="btn btn-active btn-lg btn-block">Plateforms</button>
{% endblock %}

{% block main %}
<div ng-controller="PlatformController">
    <article ng-show="platforms.length">
        <table id="zacacia-table" class="table table-striped">    
            <caption>Platforms</caption>
            <thead>
                <tr>
                    <td colspan="4" class="add"><a href="{{ path('platform_new') }}" title="add"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a></td>
                </tr>
            </thead>
            <tbody>
            <tr ng-repeat="platform in platforms">
                <td class="cn">{{'{{platform.cn}}'}}</td>
                <td class="action"><a href="{{ path('platform_edit') }}/{{'{{platform.cn}}'}}" title="edit"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a></td>
                <td class="action"><a href='edit'><span class="glyphicon glyphicon-th" aria-hidden="true"></span></a></td>
                <td class="action"><a href='edit'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span></a></td>
            </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4" class="add"><a href="{{ path('platform_new') }}" title="add"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a></td>
                </tr>
            </tfoot>
        </table>
    </article>
</div>
{% endblock %}

{% block footer %}
a
{% endblock %}
