{% extends "ZacaciaBundle::layout.html.twig" %}

{% block title %}ZacaciaBundle:Platform:index{% endblock %}

{% block navmenu %}
<li><a href="{{ path('_dashboard') }}">Dashboard</a></li>
<li class="active"><a href="#">Platform &rarr; Edit</a></li>
{% endblock %}

{% block whereiam %}
<ul class="list-inline">
    <li><h3 class="warning">{{ platform.cn }}</a></h3><small>{% trans %}Platform:Edit{% endtrans %}</small></li>
</ul>
{% endblock %}

{% block content %}

{{ form_start(form) }}
{{ form_errors(form) }}

<div class="row">
    <div class="col-md-12">
	    <fieldset class="form-group">
	    	{{ form_label(form.cn) }}
	    	{{ form_errors(form.cn) }}
	    	{{ form_widget(form.cn, {'attr': {'class': 'form-control', 'readonly': 'readonly'}}) }}
	    </fieldset>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
	    <fieldset class="form-group">
	    	{{ form_label(form.zacaciastatus) }}
	    	{{ form_errors(form.zacaciastatus) }}
	    	{{ form_widget(form.zacaciastatus, {'attr': {'class': 'form-control'}}) }}
	    </fieldset>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
	    <fieldset class="form-group">
            <button type="button" id="form_cancel" class="btn btn-primary">{% trans %}Cancel{% endtrans %}</button>
            <button type="submit" id="form_save" class="btn btn-primary">{% trans %}Save{% endtrans %}</button>
	    </fieldset>
    </div>
</div>

{{ form_end(form) }}

</div>
{% endblock %}

{% block zavascripts %}
<script src= "{{ asset('js/platform/edit.js') }}"></script>
<script>
var cancel_redirect = "{{ path('_platform') }}"
</script>
{% endblock %}
