{% extends "ZacaciaBundle::layout.html.twig" %}

{% block title %}ZacaciaBundle:Platform:index{% endblock %}

{% block navmenu %}
<li><a href="{{ path('_dashboard') }}">Dashboard</a></li>
<li class="active"><a href="#">Platforms</a><span class="sr-only">(current)</span></li>
{% endblock %}

{% block whereiam %}
<ul class="list-inline">
  <li><h3 class="warning">Platform</a></h3><small>List</small></li>
</ul>
{% endblock %}

{% block content %}
<div class="table-responsive">

<a href="{{ path('_platform_new') }}">New</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Status</th>
            <th>Created</th>
            <th>Modified</th>
            <th>Actions</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
{% for platform in platforms %}
        <tr class="{% if platform.zacaciaStatus == 'disable' %}danger{% endif %}">
            <td>{{ platform.cn }}</td>
            <td class="{{ platform.zacaciaStatus | lower}}">{{ platform.zacaciaStatus }}</td>
            <td>{{ platform.createTimestamp }}</td>
            <td>{{ platform.modifyTimestamp }}</td>
            <td>
                <a href="{{ path('_server', {'platformid' : platform.entryUUID} ) }}">Server</a> | 
                <a href="{{ path('_organization', {'platformid' : platform.entryUUID} ) }}">Customer</a>
            </td>
            <td class="text-center"é>
                <a href="{{ path('_platform_edit', {'platformid' : platform.entryUUID} ) }}">Edit</a>
                {% if platform.zacaciaStatus == 'disable' %}
                | <a data-href="{{ path('_platform_delete', {'platformid' : platform.entryUUID} ) }}" data-confirm="{{ platform.cn }}">Delete</a>
                {% endif %}
            </td>
        </tr>
{% endfor %}
    </tbody>
</table>
</div>
{% endblock %}

{% block zavascripts %}
<script src= "{{ asset('js/platform/index.js') }}"></script>
{% endblock %}
